<h1>List of all restaurants</h1>
<ol>
<% @restaurants.each do |restaurant| %>
  <li>
  <br>
  <%= link_to restaurant.name, restaurant, class:"btn btn-primary" %>
  <%= restaurant.address %>
  <%= restaurant.phone_number %>
  </li>
<%end%>
<br>
</ol>

<%= link_to 'Add new restaurant', '/new'%>
